/* static/styles.css */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    width: 100%;
    color: black;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}
.dropdown-content button:hover {
    background-color: #ddd;
}
.modal-content {
    background-color: #fefefe;
    margin: auto; /* Centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Adjust width to content */
    max-width: 90%; /* Limit max width to prevent overflow */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Add some shadow for better visibility */
    display: inline-block; /* Makes the content fit to its natural size */
}

.highlight {
    color: red;
}
