<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>inasra</title>
	</head>
	<body>
		<form action="/first_word/" method="post">
		<div>
			<p style="text-align:center">
			<label for="example"><font size='+3'><br><br><br><br><br> this is where inasra happens</font><br></label>
		<input type="text" id="example" size="42" placeholder="What do you offer to inasra" name="firstword">
		</div>
		<div style="text-align:center">
			<input type="submit" value="beginasrazion"></p>
		</div>
		</form>
	</body>
</html>
